APScheduler==3.9.1
async-generator==1.10
beautifulsoup4==4.11.1
django
lxml
matplotlib
multitasking
numpy
packaging
pandas
python-dateutil
python-decouple
python-dotenv
requests
selenium
SQLAlchemy
sqlparse
termcolor
urllib3
webdriver-manager
yfinance
mysqlclient
gunicorn