appdirs==1.4.4
APScheduler==3.9.1
asgiref==3.4.1
async-generator==1.10
attrs==22.1.0
beautifulsoup4==4.11.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.5
cycler==0.11.0
django
lxml
matplotlib
multitasking
numpy
packaging
pandas
Pillow
pycparser
pyparsing
PySocks
python-dateutil
python-decouple
python-dotenv
requests
selenium

sortedcontainers
soupsieve
SQLAlchemy
sqlparse
termcolor
trio==0.22.0
trio-websocket
urllib3
webdriver-manager
yfinance
mysqlclient
gunicorn